@import "~bootstrap/scss/bootstrap";

.products-page{
    display: flex;
    a{
        text-decoration: none;
    }
    .product-box{
        padding: 15px;

        .product-img{
            display: flex;
            align-items: center;
            img{
                margin:auto;
                width:200px;
            }
        }
        .product-title{
            display: flex;
            align-items: center;
            h3{
                margin:15px auto;
                color: #333;
                text-decoration: none;
            }
        }
    }
}
.styles_kPagination__1qVvD .styles_kPaginationListItemVertical__q-2s5{
    flex-wrap:wrap;
    flex-direction: row !important;
}